{
    "globals": {
        "fetch": false
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        //Add rules here that no longer required
    },
    "parser": "babel-eslint"
}